@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
nav {
  background-color: white; /* Color de fondo de la barra de navegación */
  overflow: hidden; /* Evita que los elementos floten fuera de la barra de navegación */
  text-align: center;
}
nav > a {
  float: center; /* Hace que los elementos de navegación aparezcan en línea */
  display: block; /* Hace que los elementos de navegación ocupen todo el ancho de la barra de navegación */
  color: black; /* Color del texto */
  text-align: center; /* Centra el texto dentro de los elementos de navegación */
  text-decoration: none; /* Quita la subrayado predeterminado de los enlaces */
  padding: 45px;
}
nav a + a {
  margin-left: 20px; /* Espacio entre los elementos de navegación */
}
section{
 justify-content: center ;
  display: flex;
  top: 120px ;
}
nav a:hover {
  background-color: #ddd; /* Cambia el color de fondo cuando el cursor está sobre el elemento */
  color: black; /* Cambia el color del texto cuando el cursor está sobre el elemento */
}
.Inicio{
  width: 1820px;
  background-color: rgba(245, 252, 255, 1);
  padding: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 500px;
}
.cuadro-proyecto{
  justify-content: center;
  margin: 25px;
  padding: 0px;

}
h2{
  text-align: center;
}
.cuadro-texto{
  margin-left: 50px;
padding-top:100px;
justify-content: center;
text-align: center;
width: 500px;
}